
@{
  ViewBag.Title = "About DataDock";
}


<div class="ui container">
  <h2 class="ui header">@ViewBag.Title</h2>
  <div class="ui hidden divider"></div>
</div>

<div class="ui container">
  <h3>What is DataDock?</h3>

  <p>DataDock is a cloud-based service which creates navigable data portals for individuals and organisations free of charge.</p>

  <h3>What's a data portal?</h3>

  <p>A data portal is a place where you make your data available to other people via the web as "open data".</p>

  <h3>What makes DataDock different from other data publishing offerings?</h3>

  <h4>DataDock is free</h4>
  <p>No software licensing fee, no hosting costs.</p>

  <h4>DataDock creates <i>navigable</i> data portals</h4>
  <p>Many data publishing solutions are basically catalogs of datasets with links to download the full, original data file. DataDock provides this type of cataloging, but also creates mini "websites" for every dataset you publish. This means that each record in your data will have its own page, allowing users to navigate around the data inside your dataset, as well as the option to download the full data file if they want to.</p>

  <h3>Will it always be free?</h3>

  <p>Yes.</p>

  <p>In the future, we may add features that will be paid add-ons, but there will always be free DataDock accounts available.</p>

  <h3>Can I request features?</h3>

  <p>Of course! We have many ideas for great features that we'll be adding to DataDock, and we're always happy to hear more ideas and requests. Add a new issue to our <a href="https://github.com/NetworkedPlanet/datadock/issues" title="DataDock Help & Support">DataDock Help & Support</a> site with any feature requests.</p>

  <h3>Preview Release</h3>

  <p>As of February 2017, DataDock is at "Preview Release" stage (sometimes referred to as a "Beta Release"). This means that the service is live and accepting new users - but that we are still finalising the service's features.</p>

  <p>
    We encourage early adopters to try out all the features of DataDock, and to report any questions, feedback, or bugs you might encounter. You can report all of these things by adding new issues to <a href="https://github.com/NetworkedPlanet/datadock/issues" title="DataDock Help & Support">DataDock Help & Support</a>.
  </p>


  <h3>Who are the people behind DataDock?</h3>

  <p>DataDock is built by the developers at <a href="http://networkedplanet.com" title="NetworkedPlanet">NetworkedPlanet</a>. We've been building .NET data management solutions since 2004, and are also responsible for .NET open source products such as <a href="http://brightstardb.com/" title="open source .NET RDF triple store">BrightstarDB</a> and <a href="https://dotnetrdf.codeplex.com/" title="open source .NET library for working with RDF">DotNetRDF</a>.</p>

  <p>Over the last couple of years we have been working to increase the quality of open data for the social good. One of the barriers faced by those working for the social good is the cost of the technology to publish good quality open data, we want to remove this barrier and so we built DataDock. </p>

</div>
