@model DataDock.Web.ViewModels.DashboardViewModel
@{
  ViewData["Title"] = Model.SelectedOwnerId + " Dashboard";
}

<div class="ui container">
  @await Component.InvokeAsync("DashboardMenuPrivate", new { selectedOwnerId = Model.SelectedOwnerId, selectedRepoId = Model.SelectedRepoId, area = Model.Area })
  <div class="ui divider"></div>
</div>

<div class="ui container">
  summary page
</div>