@model DataDock.Web.ViewModels.DashboardViewModel
@{
  ViewData["Title"] = "Owner Homepage";
}

<div class="ui container">
  @await Component.InvokeAsync("DashboardMenuPrivate", new { selectedOwnerId = Model.SelectedOwnerId, selectedRepoId = Model.SelectedRepoId })
  <div class="ui divider"></div>
</div>

<div class="ui container">
  summary page
</div>