@using DataDock.Web.Models

@{
  ViewBag.Title = "Sign Up To DataDock";

  ViewBag.ButtonText = "Ready? Let's go!";
  ViewBag.ButtonTitle = "Login or Sign Up to GitHub";
}


<div class="ui container">
  <h2 class="ui header">@ViewBag.Title</h2>
  <div class="ui hidden divider"></div>
</div>


<div class="ui container">
  <p>Access to your DataDock account is authenticated using a GitHub account. Make sure that you are logged in to the GitHub account that you wish to use for your DataDock account. For more details, read our docs "<a href="http://networkedplanet.com/datadock/user-guide/logging-in-and-out.html" title="Logging In and Out of DataDock">Logging In and Out</a>"</p>
  <p>
    Already signed up to GitHub and DataDock? <a href="/dashboard" title="Your dashboard">Login to your dashboard here</a>.
  </p>
  <div class="ui hidden divider"></div>
</div>


<div class="ui three column grid container">
  <div class="row">
    <div class="column">
      <div class="ui icon header">
        <i class="github icon"></i>
        <div class="content">
          <h3>Create a GitHub Account</h3>
          <div class="sub header">
            DataDock provides the magic to make your data portal and GitHub provides the storage. Signing in to DataDock is done with your GitHub account.

          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui icon header">
        <i class="disk outline icon"></i>
        <div class="content">
          <h3>Create a fresh repository</h3>
          <div class="sub header">
            Choose or create a fresh public repository which will be the target repository for the navigable data pages that DataDock produces.

          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui icon header">
        <i class="cube icon"></i>
        <div class="content">
          <h3>Create a DataDock Account</h3>
          <div class="sub header">
            Accept the DataDock <a href="/terms" title="DataDock terms and conditions">terms and conditions</a> to create your account and start creating your own data portal.

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="center aligned column"><p><a href="https://github.com/about" title="About GitHub">Learn more about GitHub</a></p></div>
    <div class="center aligned column"><a href="https://help.github.com/articles/create-a-repo/" title="How to create a GitHub repo">Learn more about creating repos</a></div>
    <div class="center aligned column"><a href="/about" title="About DataDock">Learn more about DataDock</a></div>
  </div>
  <div class="row">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
  </div>

</div>
<div class="ui text container">
  BUTTON
</div>

<!-- jquery validate -->
