<div class="ui container" *showIEVersion="['ie 9','ie 10']">
    <div class="ui warning message">
        <i class="warning sign icon"></i>
        <span class="sr-only">Browser Warning:</span>

        <span>We've detected you're using an old version of Internet Explorer, DataDock looks better on modern browsers! <br />As you use DataDock you may find that some elements do not perform at their best, to fix this - <a href="https://updatemybrowser.org/" title="get an up to date browser" target="_blank">install an up to date browser</a>.</span>
    </div>
    <div class="ui hidden divider"></div>
</div>
