@model DataDock.Web.ViewModels.DashboardViewModel
@{
  Layout = "~/Views/Shared/_DashboardBaseLayout.cshtml";
  Model.Title = Model.Title + " Datasets";
}


<div class="ui grid">
  <div class="sixteen wide column">
    <div id="loadingDatasets">
      @await Html.PartialAsync("_SpinnerPartial")
    </div>
    <div id="datasets"></div>

  </div>
</div>

@section Scripts { 
  <script type="text/javascript">
    $( document ).ready(function() {
      get_datasets();
    });
    
    function get_datasets() {
      var datasets = $.ajax({
        type: "GET",
        url: 'loader/datasets?ownerId=@Model.SelectedOwnerId&repoId=@Model.SelectedRepoId'
      }).done(function (data) {
        $('#datasets').html(data);
        $('#loadingDatasets').hide();
        setTimeout(function () { get_datasets();}, 5000);
      }).responseText;
    }
  </script>
}