@model DataDock.Web.ViewModels.DashboardViewModel
@{
  Layout = "~/Views/Shared/_DashboardLayout.cshtml";
  Model.Title = Model.Title + " Datasets";
}


<div class="ui container">
  @await Component.InvokeAsync("Datasets", new { selectedOwnerId = Model.SelectedOwnerId, selectedRepoId = Model.SelectedRepoId })
</div>