@model DataDock.Web.ViewModels.DashboardViewModel
@{
    Layout = "~/Views/Shared/_DashboardBaseLayout.cshtml";
    Model.Title = Model.Title + " Dataset";
}

<div class="ui grid">
    <div class="sixteen wide column">
        <div id="loadingDataset">
            @await Html.PartialAsync("_SpinnerPartial")
        </div>
        <div id="dataset"></div>

    </div>
</div>



@section Scripts { 
    <script type="text/javascript">
        $( document ).ready(function() {
            get_dataset();
        });
    
        function get_dataset() {
            var datasets = $.ajax({
                type: "GET",
                url: 'loader/dataset?ownerId=@Model.SelectedOwnerId&repoId=@Model.SelectedRepoId&datasetId=@Model.SelectedDatasetId'
            }).done(function (data) {
                $('#dataset').html(data);
                $('#loadingDataset').hide();
            }).responseText;
        }
    </script>
}
