@model DataDock.Web.ViewModels.DashboardViewModel
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    Model.Title = Model.Title + " Add Data";
}

<div class="ui container">
  import loader - select repository to add data to
</div>