@model DataDock.Web.ViewModels.DashboardViewModel
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    Model.Title = Model.Title + " Template Library";
}

<div class="ui container">
  @await Component.InvokeAsync("Templates", new { selectedOwnerId = Model.SelectedOwnerId, selectedRepoId = Model.SelectedRepoId })
</div>