@model DataDock.Web.ViewModels.DashboardViewModel
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    Model.Title = Model.Title + " Template Library";
}

<div class="ui container">
  template library page
</div>