@model DataDock.Web.ViewModels.DashboardViewModel
@{
    
  Layout = "~/Views/Shared/_DashboardLayout.cshtml";
  Model.Title = Model.Title + " Repositories";
}


<div class="ui container">
  repo list page
</div>