<div [ngClass]="{fields: field[0].allowReset}">
    <div [ngClass]="{ 'error': !field[1].valid && field[1]['errors'], 'hidden': field[0].hidden, 'fifteen wide': field[0].allowReset, 'field': true }">
        <!-- field definition : {{field[0] | json}} -->

        <!-- checkboxes have labels in front of them -->
        <label *ngIf="field[0].showLabel && field[0].label && field[0].type != 'checkbox'">{{ field[0].label }}</label>

        <span id="{{field[0].name}}_error_block" *ngFor="let validation of field[0].validations" >
            <em class="text-danger" *ngIf="!field[1].valid && field[1]['errors'] && field[1]['errors'][validation.type?.toLowerCase()]"> {{ validation.message }}</em>
        </span>

        <span id="{{field[0].name}}_error_block_2" *ngFor="let cv of field[0].customValidations" >
            <em class="text-danger" *ngIf="!field[1].valid && field[1]['errors'] && field[1]['errors'][cv.type]"> {{ cv.message }}</em>
        </span>

        <div *ngIf="field[0].type == 'select'">
            <select [formControl]="field[1]"
                    [id]="field[0].name"
                    class="form-control"
            >
                <option *ngFor="let option of field[0].options"
                        value="{{ option.value }}" [selected]="option.selected || option.value === field[0].defaultValue">
                    {{ option.display }}
                </option>
            </select>
        </div>

        <div *ngIf="field[0].type == 'text'">
            <input type="text"
                   [id]="field[0].name"
                   [formControl]="field[1]"
                   [placeholder]="field[0].placeholder"
            />
        </div>

        <div *ngIf="field[0].type == 'tags'">
            <tag-input [modelAsStrings]="true"
                       [id]="field[0].name"
                       [formControl]="field[1]"
                       [placeholder]=""
                       [blinkIfDupe]="true"
                       [separatorKeys]="[',']"
                       [separatorKeyCodes]="[9,16]"
                       [(ngModel)]="field[0].defaultValue"
            >
            </tag-input>
        </div>

        <div *ngIf="field[0].type == 'textarea'">
        <textarea
                [id]="field[0].name"
                [formControl]="field[1]"
                [placeholder]="field[0].placeholder"
        ></textarea>
        </div>

        <div *ngIf="field[0].type == 'number'">
            <input type="number"
                   [id]="field[0].name"
                   [formControl]="field[1]"
                   [placeholder]="field[0].placeholder"
            />
        </div>

        <div *ngIf="field[0].type == 'hidden'">
            <input type="hidden"
                   [id]="field[0].name"
                   [formControl]="field[1]"
            />
        </div>


        <div *ngIf="field[0].type == 'radio'">
            <label class="radio-inline" *ngFor="let option of field[0].options">
                <input type="radio"
                       [id]="field[0].name"
                       [formControl]="field[1]"
                       class="btn"
                       value="{{ option.value }}"
                /> {{ option.display }}
            </label>
        </div>

        <div *ngIf="field[0].type == 'checkbox'" class="center aligned">
            <div class="checkbox">
                <label>
                    <input type="checkbox"
                           [id]="field[0].name"
                           [formControl]="field[1]"
                           (change)="checkboxChange(this)"
                    /> <span *ngIf="field[0].showLabel">{{ field[0].label }}</span>
                </label>
            </div>
        </div>

        <div *ngIf="field[0].info !== ''" class="moreinfo">
            <span [innerHTML]="field[0].info"></span>
        </div>
    </div>

    <div class="one wide field" *ngIf="field[0].allowReset">
        <span>
            <button class="mini ui icon basic button reset" title="reset" [attr.disabled]="field[0].disabled?'':null" (click)="resetField()"><i class="refresh icon"></i></button>
        </span>
    </div>
</div>